.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; /* Added font-family */
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif; /* Added font-family */
}

.add-password-button {
  text-align: center;
  margin-bottom: 40px;
}

.add-password-button button {
  background-color: #4caf50;
  color: #fff;
  font-style: italic;
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px; /* Added margin to create space between buttons */
  font-family: 'Arial', sans-serif; /* Added font-family */
}

.add-password-button button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.add-password-button button:active {
  transform: scale(0.95);
}
