<div class="container">
  <h1>Password Generator</h1>
  <div class="slider-container">
    <label for="length">Choose password length: <span>{{ passwordLength }}</span></label>
    <input type="range" id="length" [(ngModel)]="passwordLength" min="8" max="20" step="1" />
  </div>

  <button (click)="generatePassword()">Generate Password</button>

  <div *ngIf="generatedPassword" class="result">
    <h3>Generated Password:</h3>
    <p>{{ generatedPassword }}</p>
    <button (click)="copyPassword()" class="copy-btn">Copy Password</button>
  </div>

  <button routerLink="/passwords">Go to Passwords</button>
</div>
