.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#username {
  padding: 12px 15px;
  font-size: 0.8em;
  width: 100px;
  margin-top: 8px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
}

#username::placeholder {
  color: #aaa;
  transition: color 0.3s ease;
}

#username:focus {
  width: 350px;
  font-size: 1.5em;
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.3);
  outline: none;
  background-color: #fff;
}

#username:hover {
  border-color: #66bb6a;
}


.password-list .search-container label {
  font-size: 1.1em;
  color: #333;
  margin-right: 10px;
  font-weight: 600;
  transition: color 0.3s ease;
}


.search-container input:not(:placeholder-shown) {
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
}
